.MsgBody {
    background-color: #865;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1500206329404-5057e0aefa48?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2076&q=80");
    background-size: cover;
    background-position: center;
}